


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        OH MY BOX!
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="keywords" content="" />
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="image_src" href="" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles/plugins.css" />
    <link rel="stylesheet" type="text/css" href="/styles/grid-reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/byerkhaslak.css" />
    <link rel="stylesheet" type="text/css" href="/styles/byerkhaslak-responsive.css" />
    <!--- Responsive Stuff -->
    <link rel="apple-touch-icon" href="/images/mobileicon.png">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="1100">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body> 
        <nav class="topMainNav">
            <div class="logoHolder">
                <a href="/home"></a>
                <input type="hidden" id="hdLang" value="en" />

            </div>
            <div class="topRightSection">
                <ul class="topMenuNav">
                    <li><a href="/create-box" id="ControlHeader1_divSendABox" class="sendABox activeMenuItem"><span class="icon"></span>Send a Box</a></li>
                    <li><a href="/dashboard" id="ControlHeader1_divAccount" class="myAccount"><span class="icon"></span>My Account</a></li>
                    <li class="hasSubmenu">
                        <button type="button" class="tcon tcon-menu--xcross"
                                aria-label="toggle menu" data-target="menuHolder">
                            <span class="tcon-menu__lines" aria-hidden="true"></span><span class="tcon-visuallyhidden">toggle menu</span>
                        </button>
                        <ul class="menuDropDown">
                            <li><a href="/create-box">Create your own box</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                            <li><a href="/delivery-terms">Delivery Terms</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="http://www.facebook.com/ohmybox.gift" target="_blank">Follow us on facebook</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="pageBody" data-ng-app="OMBBodyApp">
            <div class="container-fluid">

                <div class="row" data-ng-controller="GiftFormController">
                    <div class="col-md-12">
                        <div class="expandableAreas" id="divExpandableContainer">
                            <div class="expandableItem passedStartHere">
                                <div class="startHere">
                                    <span>
                                        1. Create your own box
                                    </span>
                                </div>
                                <div class="expandableContent">
                                </div>
                            </div>
                            <div id="GiftFor" class="expandableItem activeStartHere">
                                <div class="startHere" id="divGiftFormTitleBoxIsFor">
                                    <span>
                                        2. THE BOX IS

                                    </span>
                                </div>
                                <div class="expandableContent">
                                    <input type="hidden" id="hdGiftFor" value="{{GiftFor}}" />
                                    <div class="blockedLinks centerAligned" id="DivGiftFor">
                                        <a data-ng-click="SelectGiftFor('divGitForMe')"
                                           id="divGitForMe"
                                           href="javascript:;">
                                            <span style="display:none;" id="spnGiftForMe">

                                                3. Some Informatin About Yourself

                                            </span>
                                            <span>
                                                for yourself


                                            </span>
                                        </a><a href="javascript:;"
                                               id="divGiftForSomeone"
                                               data-ng-click="SelectGiftFor('divGiftForSomeone')">
                                            <span style="display:none;" id="spnGiftForSomeone">

                                                3. Some Informatin About the Recepient

                                            </span>
                                            <span>
                                                a gift

                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="RecepintInformation" class="expandableItem defaultStartHere">
                                <div class="startHere" id="divGiftFormTitleRecipientInfo">
                                    <span>
                                        3. some information



                                    </span>
                                </div>
                                <div class="expandableContent">
                                    <div class="journeyForm">

                                        <div class="inputEntity">
                                            <input data-ng-model="name" type="text"
                                                   value=""
                                                   placeholder="Name"
                                                   class="normalInput" />
                                            <span style="{{showNameRequired}}" class="required">
                                                Required
                                            </span>

                                        </div>
                                        <div class="inputEntity">
                                            <input type="number"
                                                   placeholder="Age"
                                                   data-ng-model="age"
                                                   class="normalInput" />
                                            <span style="{{showAgeRequired}}"
                                                  class="required">
                                                Required
                                            </span>
                                            <span style="{{showAgeWrongFormat}}"
                                                  class="required">
                                                Should be a number between 0 and 124
                                            </span>

                                        </div>
                                        <div class="inputEntity">
                                            <div class="dropKickSelectParent">
                                                <select data-ng-model="Gender">
                                                    <option value="0">
                                                        Gender
                                                    </option>
                                                    <option value="1">
                                                        Male
                                                    </option>
                                                    <option value="2">
                                                        Female
                                                    </option>
                                                </select>

                                                <span style="{{showGenderRequired}}"
                                                      class="required">
                                                    Required
                                                </span>


                                            </div>
                                        </div>
                                        <div style="" class="inputEntity">
                                            <input data-ng-model="city" type="text"
                                                   placeholder="City"
                                                   class="normalInput" />

                                            <span style="{{showCityRequired}}" class="required">
                                                Required
                                            </span>

                                        </div>
                                        <div class="nextLink">
                                            <a data-ng-click="SubmitPersonalInformation()" href="javascript:;">
                                                Next
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="DivSelectCategories" class="expandableItem defaultStartHere">
                                <div class="startHere"
                                     id="divGiftFormTitleSelectCategory">
                                    <span>
                                        4. SELECT CATEGORIES
                                    </span>
                                </div>
                                <div class="expandableContent">
                                    <div class="container">
                                        <input type="hidden" id="hdCatIDs" value="{{selectedIDs}}" />
                                        <div class="row categoriesCheckList" data-ng-model="CategoriesModel" id="Categories">
                                            <div id="divCat{{cat.ID}}"
                                                 data-ng-click="SelectCategory('divCat'+cat.ID,cat.ID)"
                                                 data-ng-repeat="cat in categories"
                                                 class="col-md-4">
                                                <a href="javascript:;" class="{{SelectedClass}}">
                                                    <img alt="{{cat.Title}}"
                                                         src="{{cat.ImageSelected}}" class="hoverImage" /><img alt="{{cat.Title}}"
                                                                                                               src="{{cat.Image}}" /><span>{{cat.Title}}</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="nextLink" id="subcat">
                                            <a data-ng-click="SubmitCategories()" href="javascript:;">
                                                Next


                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divBudget" class="expandableItem defaultStartHere">


                                <div class="startHere"
                                     id="divGiftFormTitleSetBudget">
                                    <span>
                                        5. Set Budget
                                    </span>
                                </div>

                                <div class="expandableContent">
                                    <div class="journeyForm">
                                        <div class="inputEntity">
                                            <input type="number"
                                                   placeholder="50 USD"
                                                   class="normalInput" value="{{budget}}" />
                                        </div>
                                        <div class="nextLink">
                                            <a href="javascript:;" data-ng-click="SubmitBudget()">
                                                Next
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divFinalStep" class="expandableItem defaultStartHere">


                                <div class="startHere"
                                     id="divGiftFormTitleSetRegisterSend">
                                    <span>
                                        6. Register and send
                                    </span>
                                </div>


                                <div class="expandableContent">
                                    <div class="container-fluid loginPopup sameHeightPads journeyForm centerAligned">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="blockMain">
                                                    <div class="blockHead">
                                                        <h3 class="blockTitle">

                                                            ALREADY A MEMBER, LOGIN


                                                        </h3>
                                                    </div>
                                                    <div class="blockBody">
                                                        <div class="normalForm">
                                                            <div class="inputEntity">
                                                                <input type="text"
                                                                       placeholder="Email" />
                                                            </div>
                                                            <div class="inputEntity">
                                                                <input type="password"
                                                                       placeholder="Password" />
                                                            </div>
                                                            <div class="formLink inputEntity">
                                                                <a href="javascript:;">
                                                                    Forgot Password


                                                                </a>
                                                            </div>
                                                            <div class="formButtons">
                                                                <a href="javascript:;" class="primaryBtn">
                                                                    <span>
                                                                        Log In


                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="blockMain">
                                                    <div class="blockHead">
                                                        <h3 class="blockTitle">
                                                            Not Yet a Member?

                                                        </h3>
                                                    </div>
                                                    <div class="blockBody">
                                                        <div class="normalForm">
                                                            <p class="margBot20">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit

                                                            </p>
                                                            <div class="formButtons inputEntity">
                                                                <a href="/register" class="primaryBtn">
                                                                    <span>
                                                                        Register


                                                                    </span>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="ControlFooter1_divFooter" class="footer normalFooter">
            <div class="row">
                <div class="col-sm-12 copyrightCol">
                    Oh My Box! &copy;
                    Oh My Box! &copy;
                    2017.
                    All rights reserved.
                    &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/terms-conditions">Terms & Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/privacy-policy">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/contact-us">Contact Us</a>
                </div>


            </div>
        </div>

        <script type="text/javascript" src="/functions/jquery.js"></script>
        <script type="text/javascript" src="/functions/plugins.js"></script>
        <script type="text/javascript" src="/functions/functions.js"></script>
        <script src="/functions/jquery-ui.min.js"></script>


        <script type="text/javascript">	$(document).ready(function() {  $('#fullpage').fullpage(); });</script>

        <script src="/functions/angular.min.js"></script>
        <script src="/functions/angular/angularBinding.js"></script>
         
</body>
</html>
