
      <div class="coloredHeader lightBlueHead">
        <div class="container-fluid">
          <div class="row smallerRowSpace">
            <div class="col-md-12">
              <div class="pageHead cartHeader"> 
                <a href="#/" class="btn">back to products</a>
                <h1 class="pageTitle"><span class="catName">Your Basket</span></h1>
                <a href="javascript:;" class="btn" ng-click="remove_all_items()">Remove all</a>
                <div class="clearBoth"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pageBody cartMainPage">
        <div class="container-fluid">
          <div class="registerForm">
            <div class="row smallerRowSpace">
              <div class="formsBorder">
                <div class="col-md-12">
                  <div class="cartTable">
                    <table width="100%" cellspacing="0" cellpadding="0" class="display">
                      <tbody>
                        <tr ng-repeat="item in cart.items">
                          <td class="productCol">
                            <div class="lisViewDisplay">
                              <div class="listingItem">
                                <div class="listingImage"><img src="{{item.image}}"
                                      title="{{item.name}}"></div>
                                <div class="cartItemList">
                                  <h3 class="listingTitle">{{item.name}}</h3>
                                  <div class="itemcalculation">
                                    <span>{{item.price}} LL x {{item.quantity}} units </span>
                                    {{item.quantity * item.price}} LL
                                  </div>
                                </div>
                                              <div class="remove_from_cart" ng-click="add_to_cart(product, -1);" ng-if="available_in_cart(product.id)"></div>
                                              <div class="quantity_holder" ng-click="add_to_cart(product, -1);" ng-if="available_in_cart(product.id)">
                                                <span>x{{product_quantity(product.id)}}</span></div>
                              </div>
                            </div>
                          </td>
                          <td class="colActions">
                            <ul class="actionsList">
                              <li><div class="loader_parent" ng-if="item.loading"></div><a href="javascript:;" ng-click="add_to_cart(item, -1);" class="delete_icon"></a></li>
                              <li><div class="loader_parent" ng-if="item.loading"></div><a href="javascript:;" ng-click="add_to_cart(item, 1);" class="add_icon"></a></li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
<div class="blockAbsLink"><a href="#/cart" class="primaryBtn"><span>Order Now</span><span
      class="price_bottom_total">{{cart.price}} LL</span></a></div>
            </div>
          </div>
        </div>
      </div>