<div class="pageBody">
  <div class="container-fluid">
  	<div class="registerForm">
      <div class="row">
        <div class="col-md-12">
          <div class="formSteps">
            <ul>
              <li><a href="javascript:;" class="selected">{{'shopping_cart' | translate}}</a></li>
              <li><a href="javascript:;">{{'delivery_and_billing' | translate}}</a></li>
              <li><a href="javascript:;">{{'payment' | translate}}</a></li>
            </ul>
          </div>
        </div>
        <div class="formsBorder">
          <div class="col-md-12">
            <div class="cartTable">
              <table width="100%" cellspacing="0" cellpadding="0" class="display">
                <thead>
                  <tr>
                    <th class="productCol" colspan="2">{{'categories_selected' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in page_values.categories">
                    <td class="productCol" colspan="2">
                      <div class="lisViewDisplay">
                        <div class="listingItem">
                          <div class="listingImage"><img ng-src="{{item.Image}}" alt="{{item.Title}}" title="{{item.Title}}"></div>
                          <div class="listingInfos">
                            <h3 class="listingTitle">{{item.Title}}</h3>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>{{'your_shopping_total' | translate}}</td>
                    <td class="grandTotal">{{page_values.budget}} USD</td>
                  </tr>
                </tfoot>
              </table>
              <h4 class="blueTitle">{{'order_summary' | translate}}</h4>
              <div class="normalText">
              	<div ng-if="page_values.name">{{'name' | translate}}: <span class="blueColor">{{page_values.name}}</span></div>
								<div ng-if="page_values.age">{{'age' | translate}}: <span class="blueColor">{{page_values.age}}</span></div>
              	<div ng-if="page_values.city">{{'city' | translate}}: <span class="blueColor">{{page_values.city}}</span></div>
								<div ng-if="page_values.occasion">{{'occasion' | translate}}: <span class="blueColor">{{page_values.occasion}}</span></div>
								<div ng-if="page_values.preferences">{{'preferences' | translate}}: <span class="blueColor">{{page_values.preferences}}</span></div>
								<div ng-if="page_values.gender">{{'gender' | translate}}: <span class="blueColor">{{page_values.gender.text}}</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="rightAlign">
						<a href="#/checkout2" type="submit" class="secondaryBtn">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
