<div class="pageBody">
  <div class="container-fluid">
    <div class="registerForm">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="formSteps">
                <ul>
									<li><a href="javascript:;">{{'shopping_cart' | translate}}</a></li>
									<li><a href="javascript:;" class="selected">{{'delivery_and_billing' | translate}}</a></li>
									<li><a href="javascript:;">{{'payment' | translate}}</a></li>
                </ul>
              </div>
            </div>
						<form name="register_info" ng-submit="submit_registration(register_info.$valid)" novalidate>
							<div class="formsBorder">
								<div class="formSpace">
									<div class="col-sm-12">
										<h4 class="blueTitle">{{'delivery_address' | translate}}</h4>
									</div>
									<div class="col-sm-12">
										<div class="normalText">{{'choose_predefined' | translate}}</div>
										<div class="row biggerRowSpace">
											<div class="col-sm-6">
												<div class="inputEntity address_selector">
													<div dropdown-select="addresses" dropdown-model="delivery_info" dropdown-item-label="Name" class="normalInput"></div>
												</div>
											</div>
										</div>
										<div class="normalText">{{'add_new_one' | translate}}</div>
										<div class="row biggerRowSpace" ng-class="{disabled: !delivery_form_enabled}">
											<div class="col-sm-6">
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.deli_address.$dirty && register_info.deli_address.$invalid">{{'required_field' | translate}}</span>
													<input type="text" class="normalInput" placeholder="{{'address' | translate}}" ng-model="new_delivery_info.Address" name="deli_address" ng-required="delivery_form_enabled" ng-disabled="same_as_billing">
												</div>
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.deli_city.$dirty && register_info.deli_city.$invalid">{{'required_field' | translate}}</span>
													 <input type="text" class="normalInput" placeholder="{{'city' | translate}}" ng-model="new_delivery_info.City" name="deli_city" required ng-disabled="same_as_billing">
												</div>
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.deli_name.$dirty && register_info.deli_name.$invalid">{{'required_field' | translate}}</span>
													 <input type="text" class="normalInput" placeholder="{{'address_name' | translate}}" ng-model="new_delivery_info.Name" name="deli_name" ng-required="delivery_form_enabled" ng-disabled="same_as_billing">
												</div>
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.deli_street.$dirty && register_info.deli_street.$invalid">{{'required_field' | translate}}</span>
													 <input type="text" class="normalInput" placeholder="{{'street' | translate}}" ng-model="new_delivery_info.Street" name="deli_street" ng-required="delivery_form_enabled" ng-disabled="same_as_billing">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.deli_building.$dirty && register_info.deli_building.$invalid">{{'required_field' | translate}}</span>
													<input type="text" class="normalInput" placeholder="{{'building' | translate}}" ng-model="new_delivery_info.Building" name="deli_building" ng-required="delivery_form_enabled" ng-disabled="same_as_billing">
												</div>
												<div class="inputEntity"><span class="requiredField">{{'required_field' | translate}}</span>
													<div class="inputEntity country_selector" ng-class="{emptyCountry: new_delivery_info.CountryID == 0, disabled: same_as_billing}">
														<div dropdown-select="countries" dropdown-model="new_delivery_info.CountryID" dropdown-item-label="Title" class="normalInput"></div>
													</div>
												</div>
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.deli_phone.$dirty && register_info.deli_phone.$invalid">{{'required_field' | translate}}</span>
													 <input type="text" class="normalInput" placeholder="{{'phone' | translate}}" ng-model="new_delivery_info.Phone" name="deli_phone" ng-required="delivery_form_enabled" ng-disabled="same_as_billing">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="formSpace">
									<div class="col-sm-12">
										<h4 class="blueTitle">{{'billing_address' | translate}}</h4>
									</div>
									<div class="col-sm-12">
										<div class="normalText">{{'choose_predefined' | translate}}</div>
										<div class="row biggerRowSpace">
											<div class="col-sm-6">
												<div class="inputEntity address_selector">
													<div dropdown-select="addresses" dropdown-model="billing_info" dropdown-item-label="Name" class="normalInput"></div>
												</div>
											</div>
										</div>
										<div class="normalText">{{'add_new_one' | translate}}</div>
										<div class="row biggerRowSpace" ng-class="{disabled: !billing_form_enabled}">
											<div class="col-sm-6">
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.bill_address.$dirty && register_info.bill_address.$invalid">{{'required_field' | translate}}</span>
													<input type="text" class="normalInput" placeholder="{{'address' | translate}}" ng-model="new_billing_info.Address" name="bill_address" ng-required="billing_form_enabled">
												</div>
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.bill_city.$dirty && register_info.bill_city.$invalid">{{'required_field' | translate}}</span>
													 <input type="text" class="normalInput" placeholder="{{'city' | translate}}" ng-model="new_billing_info.City" name="bill_city" ng-required="billing_form_enabled">
												</div>
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.bill_name.$dirty && register_info.bill_name.$invalid">{{'required_field' | translate}}</span>
													 <input type="text" class="normalInput" placeholder="{{'address_name' | translate}}" ng-model="new_billing_info.Name" name="bill_name" ng-required="billing_form_enabled">
												</div>
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.bill_street.$dirty && register_info.bill_street.$invalid">{{'required_field' | translate}}</span>
													 <input type="text" class="normalInput" placeholder="{{'street' | translate}}" ng-model="new_billing_info.Street" name="bill_street" ng-required="billing_form_enabled">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.bill_building.$dirty && register_info.bill_building.$invalid">{{'required_field' | translate}}</span>
													<input type="text" class="normalInput" placeholder="{{'building' | translate}}" ng-model="new_billing_info.Building" name="bill_building" ng-required="billing_form_enabled">
												</div>
												<div class="inputEntity"><span class="requiredField">{{'required_field' | translate}}</span>
													<div class="inputEntity country_selector" ng-class="{emptyCountry: new_billing_info.CountryID == 0}">
														<div dropdown-select="countries" dropdown-model="new_billing_info.CountryID" dropdown-item-label="Title" class="normalInput"></div>
													</div>
												</div>
												<div class="inputEntity"><span class="requiredField" ng-if="register_info.bill_phone.$dirty && register_info.bill_phone.$invalid">{{'required_field' | translate}}</span>
													 <input type="text" class="normalInput" placeholder="{{'phone' | translate}}" ng-model="new_billing_info.Phone" name="bill_phone" ng-required="billing_form_enabled">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="formsBorder">
								<div class="col-md-12">
									<div class="promotionCode">
										<div class="row">
											<div class="col-md-6"></div>
											<div class="col-md-6 rightAlign">
												<div class="posRelative">
													<input type="checkbox" id="c4">
													<label for="c4"><span class="checkBoxLike"></span><span class="checkBoxText">{{'subscribe_newsletter' | translate}}</span></label>
													<div class="tooltipMain">
														<div class="tooltipInner"> <span class="tooltipIcon"></span>
															<div class="tooltipContent"> Lorem ipsum dolor sit amet,
																consectetur adipiscing elit, sed do
																eiusmod tempor incididunt ut labore
																et dolore magna aliqua. </div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="rightAlign">
									<input type="submit" class="secondaryBtn floatLeft blackBtn" value="{{'back_to_cart' | translate}}">
									<input type="submit" class="secondaryBtn" value="{{'next' | translate}}">
								</div>
							</div>
						</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
