<div ng-class="{no_subcats: !parent_category}">
  <div class="fixedBody">
    <header>
        <div class="container flex">

            <a href="javascript:;" class="logo" ng-click="reset_category_selection();reset_search_criterias()">
            <img src="images/logoprincemarket.png" alt="">
            </a>
            <div class="searchParent desktop_search">
                <div class="container">
                    <input type="text" ng-model="search.search_key" class="search_input" placeholder="Search for a product ...">
                    <a href="javascript:;" class="search"><svg xmlns="http://www.w3.org/2000/svg" width="14.64"
                            height="14.642" viewBox="0 0 14.64 14.642">
                            <defs>
                                <style>
                                    .a {
                                        fill: #fff;
                                    }
                                </style>
                            </defs>
                            <path class="a"
                                d="M14.441,12.659,11.59,9.808a.686.686,0,0,0-.486-.2h-.466a5.945,5.945,0,1,0-1.029,1.029V11.1a.686.686,0,0,0,.2.486l2.851,2.851a.683.683,0,0,0,.969,0l.809-.809a.69.69,0,0,0,0-.972ZM5.948,9.608a3.66,3.66,0,1,1,3.66-3.66A3.658,3.658,0,0,1,5.948,9.608Z" />
                        </svg></a>
    
                </div>
            </div>
            <div class="flex right">
                <div class="cartToggle" ng-click="visibleCart = !visibleCart">
                    <div class="iconHolder"><img src="images/shoppingcart.svg" alt=""></div>
                    <div class="totalPrice">
                        <span class="price">{{cart.regular_price | number: '0'}}</span>
                        <span class="currency">LL</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="searchParent mobile_search">
            <div class="container">
                <input type="text" ng-model="search.search_key" class="search_input" placeholder="Search for a product ...">
                <a href="javascript:;" class="search"><svg xmlns="http://www.w3.org/2000/svg" width="14.64"
                        height="14.642" viewBox="0 0 14.64 14.642">
                        <defs>
                            <style>
                                .a {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <path class="a"
                            d="M14.441,12.659,11.59,9.808a.686.686,0,0,0-.486-.2h-.466a5.945,5.945,0,1,0-1.029,1.029V11.1a.686.686,0,0,0,.2.486l2.851,2.851a.683.683,0,0,0,.969,0l.809-.809a.69.69,0,0,0,0-.972ZM5.948,9.608a3.66,3.66,0,1,1,3.66-3.66A3.658,3.658,0,0,1,5.948,9.608Z" />
                    </svg></a>

            </div>
        </div>
    </header>
    <aside class="catgories_main_holder" ng-class="{filtered_category: parent_category || search.search_key != ''}">
        <div class="categories">
            <div class="holder clearAfter">
                <a href="javascript:;" class="item" ng-repeat="category in categories" ng-click="filter_by_category(category)" ng-if="category.count > 0 && category.parent == 0" ng-class="{selected:parent_category.id == category.id}">
                    <div class="inner_category">
                        <div ng-if="category.image.src"><img ng-src="{{category.image.src}}" alt=""></div>
                        <div ng-if="!category.image.src"><img src="https://via.placeholder.com/370x130.jpg" alt=""></div>
                        <span class="catTitle">{{category.name}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="lds-roller" ng-if="categories_loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </aside>
    <div class="titleCat" ng-if="parent_category">
        <!-- <h1 class="pageTitle">{{parent_category.name}}</h1> -->
        <div class="categories subCat">
            <div class="holder clearAfter">
                <a href="javascript:;" class="item" ng-repeat="sub_category in categories | filter: parent_category_filter" ng-click="filter_by_category(sub_category)" ng-if="sub_category.count > 0" ng-class="{selected:products_params.product_cat == sub_category.id}">
                    <div ng-if="sub_category.image.src"><img ng-src="{{sub_category.image.src}}" alt=""></div>
                    <div ng-if="!sub_category.image.src"><img src="https://via.placeholder.com/100x75.jpg" alt=""></div>
                    <span class="catTitle">{{sub_category.name}}</span>
                </a>
            </div>
        </div>
    </div>
  </div>
  <div class="container clearAfter">
  </div>
  <main class="products_list_parent" infinite-scroll="next_page_load()" ng-class="{'parent_category_filtered':parent_category || search.search_key != ''}">
    <section class="productListing">
        <div class="row clearAfter">
          <div class="listingItem" ng-repeat="product in products">
            <div class="itemParent">
                <a href="javascript:;" class="addToCart" ng-click="add_to_cart(product, 1);"></a>
                <a href="javascript:;" ng-click="add_to_cart(product, -1);" ng-if="available_in_cart(product.id)" class="minus"> - </a>

                <span class="counter" ng-click="add_to_cart(product, -1);" ng-if="available_in_cart(product.id)">{{product_quantity(product.id)}}</span>
                <div class="item_image_main" ng-if="product.images[0].src"><img ng-src="{{product.images[0].src}}" alt=""></div>
                <div class="item_image_main" ng-if="!product.images[0].src"><img src="https://via.placeholder.com/250x250.jpg" alt="">
                                                        <div ng-if="(product.regular_price - product.sale_price) >= 500 && product_quantity(product.id)>=1">
                                                            <span class="discountgreen">You Saved
                                                                {{ (product.regular_price - product.sale_price)*product_quantity(product.id)}} LL وفرت</span>
                                                        </div>
                                                        <div
                                                            ng-if="product_quantity(product.id) == 0 || !product_quantity(product.id) && (product.regular_price - product.sale_price) >= 500">
                                                            <span class="discount">Save {{(product.regular_price - product.sale_price)}} LL وفر</span>
                                                        </div>
                                                        <div ng-if="(product.regular_price - product.sale_price) < 500">
                                                            <span class="discount">Save
                                                                {{ (product.regular_price - product.sale_price) / (product.regular_price) * (100) | number : 2 }}% خصم</span>
                                                        </div>
                </div>
                <div class="listingInfos">
                    <div class="price">
                        <span class="discounted">{{product.sale_price | number: '0'}} LL</span>
                        <span class="main">{{product.regular_price | number: '0'}} LL</span>
                    </div>
                      

                    <div ng-if="(product.regular_price - product.sale_price) >= 500 && product_quantity(product.id)>=1">
                            <span class="discountgreen">You Saved
                                {{ (product.regular_price - product.sale_price)*product_quantity(product.id)}} LL وفرت</span>
                        </div>
                    <div ng-if="product_quantity(product.id) == 0 || !product_quantity(product.id) && (product.regular_price - product.sale_price) >= 500"> <span class="discount">Save {{(product.regular_price - product.sale_price)}} LL وفر</span>
</div>
                    <div ng-if="(product.regular_price - product.sale_price) < 500">
                        <span class="discount">Save 
                            {{ (product.regular_price - product.sale_price) / (product.regular_price) * (100) | number : 2 }}% خصم</span>
                    </div>




                        <h2 class="name">{{product.name}}</h2>


        




                  
                    <!-- <div class="size">
                      {{product_quantity(product.id)}} x 330ml
                    </div> -->
                </div>
            </div>
          </div>
          <div class="lds-roller" ng-if="products_loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </section>
   
    <a href="javascript:;" class="all_categories_btn" ng-click="reset_category_selection();reset_search_criterias()">Back To Categories<br> العودة للأقسام</a>
    <a href="javascript:;" class="all_categories_btn right" ng-click="visibleCart = true"">View Trolley<br> رؤية السلة</a>
  
    <div class="bottom_buttons"><a href="javascript:;" ng-click="visibleCart = true">{{cart.regular_price | number: '0'}} LL | View trolley - رؤية السلة</a></div>
</main>
    <section class="cart" ng-class="{'visibleCart':visibleCart}">
        <div class="fixed_cart_part">
            <div class="cart_buttons_holder">
                <a href="javascript:;" class="minibuttons left_float" ng-click="visibleCart = false">Back To Products</a>
                <a href="javascript:;" class="minibuttons right_float" ng-click="reset_screen_and_empty_cart()">Remove All</a>
            </div>
            <div class="total flex">
                <span>Total</span>
                <div class="totalPrice">
                    <span class="price">{{cart.regular_price | number: '0'}}</span>
                    <span class="currency">LL</span>
                </div>
            </div>
            <button ng-click="show_form = true">Finish Shopping - إنهاء التسوق</button>
        </div>
        <div class="listingHolder cart_list" ng-class="{'visible_signup':show_form}">
            <div class="listingItem clearAfter" ng-repeat="cart_item in cart.items">
                <div class="listing_image" ng-if="cart_item.image"><img ng-src="{{cart_item.image}}" alt=""><span class="quantity_holder">X{{cart_item.quantity}}</span></div>
                <div class="listing_image" ng-if="!cart_item.image"><img src="https://via.placeholder.com/250x250.jpg" alt=""><span class="quantity_holder">X{{cart_item.quantity}}</span></div>
                <div class="listing_info_main">
                    <div class="listingInfos">
                        <h2 class="name">{{cart_item.name}}</h2>
                        <div class="calculatedprice">
                            <span>{{cart_item.regular_price | number: '0'}} LL x {{cart_item.quantity}} units</span>
                        </div>
                        <div class="total_price">{{ cart_item.regular_price * cart_item.quantity | number: '0'}} LL</div>
                    </div>
                </div>
                <div class="listing_actions"><a href="javascript:;" ng-click="add_to_cart(cart_item, 1, true);"><i class="fa fa-plus"></i></a><a href="javascript:;" ng-click="add_to_cart(cart_item, -1, true);"><i class="fa fa-minus"></i></a></div>
            </div>
        </div>
        <form class="signup_form" ng-class="{'visible_signup': show_form}" ng-submit="create_order();">
            <a href="javascript:;" class="closeIcon" ng-click="show_form = false"><svg xmlns="http://www.w3.org/2000/svg" width="13.426" height="13.423" viewBox="0 0 13.426 13.423"><path d="M19.589,18l4.8-4.8A1.124,1.124,0,0,0,22.8,11.616l-4.8,4.8-4.8-4.8A1.124,1.124,0,1,0,11.616,13.2l4.8,4.8-4.8,4.8A1.124,1.124,0,0,0,13.2,24.384l4.8-4.8,4.8,4.8A1.124,1.124,0,1,0,24.384,22.8Z" transform="translate(-11.285 -11.289)" fill="#585858"/></svg></a>
            <h2 class="blockTitle">
                Finish Shopping 
            </h2>
            <div class="formBody clearAfter" ng-if="!submitting_order">
                <div ng-if="!order_message">
                    <div class="inputField">
                        <label>Your Name</label>
                        <input type="text" ng-model="guest.name">
                    </div>
                    <div class="inputField">
                        <label>Your Email</label>
                        <input type="text" ng-model="guest.email">
                    </div>
                    <div class="inputField phoneNumber">
                        <label>Your Phone Number</label>
                        <input type="tel" ng-model="guest.phone_number">
                    </div>
                    <div class="inputField">
                        <button type="submit">Submit إرسال</button>
                    </div>
                </div>
                <div ng-if="order_message" class="order_message">{{order_message}}</div>
            </div>
            <div class="lds-roller" ng-if="submitting_order"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </form>
    </section>
</div>
<div class="backdrop" ng-click="visibleCart = false" ng-class="{visible_backdrop:visibleCart}"></div>
