/********************Icons***********************/
.womenIcon{
	background-position:0 0;
	}
.menIcon{
	background-position:0 -70px;
	}
.beautyIcon{
	background-position:0 -140px;
	}
.accessoriesIcon{
	background-position:0 -210px;
	}
.kidsIcon{
	background-position:0 -280px;
	}
.giftsIcon{
	background-position:0 -350px;
	}
.gadgetsIcon{
	background-position:0 -420px;
	}
.toysIcon{
	background-position:0 -490px;
	}
	


/********************Icons***********************/
.smallIcon{
	display:inline-block;
	width:30px;
	height:30px;
	}
.womenIcon.smallIcon{
	background-position:0 -560px;
	}
.menIcon.smallIcon{
	background-position:-30px -560px;
	}
.beautyIcon.smallIcon{
	background-position:-60px -560px;
	}
.accessoriesIcon.smallIcon{
	background-position:-90px -560px;
	}
.kidsIcon.smallIcon{
	background-position:-120px -560px;
	}
.giftsIcon.smallIcon{
	background-position:-150px -560px;
	}
.gadgetsIcon.smallIcon{
	background-position:-180px -560px;
	}
.toysIcon.smallIcon{
	background-position:-210px -560px;
	}
	
/********************Color coding************************/
/*****************Color1: #0091a9**************/
.blockCatItem.womenColor, .pageHeader.womenColor, .pageHeader.womenColor .topMenu{
	background:#0091a9;
	}
/*****************Color2: #083c61**************/
.blockCatItem.menColor, .pageHeader.menColor, .pageHeader.menColor .topMenu{
	background:#083c61;
	}
/*****************Color3: #57ae65**************/
.blockCatItem.beautyColor, .pageHeader.beautyColor, .pageHeader.beautyColor .topMenu{
	background:#57ae65;
	}
/*****************Color4: #1c303e**************/
.blockCatItem.accessoriesColor, .pageHeader.accessoriesColor, .pageHeader.accessoriesColor .topMenu{
	background:#1c303e;
	}
/*****************Color5: #8aa4a8**************/
.blockCatItem.kidsColor, .pageHeader.kidsColor, .pageHeader.kidsColor .topMenu{
	background:#8aa4a8;
	}
/*****************Color6: #e2522b**************/
.blockCatItem.giftsColor, .pageHeader.giftsColor, .pageHeader.giftsColor .topMenu{
	background:#e2522b;
	}
/*****************Color7: #34495e**************/
.blockCatItem.gadgetsColor, .pageHeader.gadgetsColor, .pageHeader.gadgetsColor .topMenu{
	background:#34495e;
	}
/*****************Color8: #f39c12**************/
.blockCatItem.toysColor, .pageHeader.toysColor, .pageHeader.toysColor .topMenu{
	background:#f39c12;
	}


@media all and (max-height:740px){
.productsBlock .listingImage, .productsBlock .listingImage a{
	display:block;
	}
}