@import url("https://fonts.googleapis.com/css?family=Tajawal&display=swap");
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
aside,
footer,
header,
menu,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

input {
    border-radius: 0 !important;
    box-shadow: none !important;
    -webkit-appearance: none !important;
}

article,
aside,
footer,
header,
menu,
nav,
section {
    display: block;
}

div {
    vertical-align: top;
}

* {
    outline: none;
}

li,
ol {
    list-style-type: none;
    list-style-image: none;
    list-style: none;
}

img {
    border: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
body {
    font-size: 14px;
    font-family: 'Tajawal', sans-serif;
    color: #24292F;
    background-color: #eeeeee;
}

body:before {
    opacity: 0;
    visibility: hidden;
    content: '';
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 200;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

body.withOverlay {
    overflow: hidden;
    position: relative;
}

body.withOverlay:before {
    opacity: 1;
    visibility: visible;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.inputEntity input[type=text],
.inputEntity input[type=password],
.inputEntity textarea,
.dk-selected,
.fileUpload {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.container {
    width: calc(100% - 40px);
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
}

.blockTitle {
    color: #fff;
    text-align: center;
    font-size: 36px;
}

.blockTitle span {
    color: #0493c3;
}

.clearAfter:after {
    content: '';
    display: block;
    clear: both;
}

nav {
    display: none;
    background-color: #4D4034;
    padding: 40px 0 35px;
    font-size: 14px;
}

nav h2 {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
    width: 100%;
}

nav span {
    color: #0493c3;
}

nav a {
    color: #DBB68B;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    float: left;
    clear: both;
}

nav a:hover {
    color: #fff;
}

nav h4 {
    color: #fff;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

nav .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

nav .category {
    float: left;
    padding-left: 60px;
}

nav .category:first-of-type {
    width: 54%;
    padding-left: 0;
}

nav .category:first-of-type .subCat {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

nav .category:nth-of-type(2) {
    width: 21%;
    border-left: 1px solid #342B23;
    border-right: 1px solid #342B23;
}

nav:after {
    clear: both;
    display: block;
    content: '';
}

nav .closeMenu {
    position: absolute;
    top: 0;
    left: 0;
}

header {
    color: #fff;
    padding-top: 30px;
    position: absolute;
    z-index: 1;
    background-color: #0493c3;
    width: 100%;
}

header a {
    color: #fff;
}

header .onlineBoutique {
    font-weight: 700;
    padding: 11px 20px;
    background-color: #4D4034;
    border: 1px solid #4d4034;
    border-radius: 22px;
    letter-spacing: 1.3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header .onlineBoutique:hover {
    background-color: #fff;
    color: #4D4034;
}

header .logo {
    display: block;
    width: 300px;
    height: 36px;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 30px);
}

header .logo h1 {
    font-size: 0;
}

header .flex {
    align-items: center;
}

header .flex.right {
    margin-left: auto;
}

header .menuToggle .a {
    stroke: #f8f7f8;
}

header .cartToggle {
    cursor: pointer;
    margin-left: 15px;
    position: relative;
}

header .cartToggle .iconHolder {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}

header .cartToggle .iconHolder img {
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

header .cartToggle .totalPrice {
    padding: 14px 15px;
    border-radius: 14px;
    padding-left: 37px;
    font-weight: 700;
    background: #fff;
    color: #141111;
}

header .search,
header .login,
header .language {
    margin-left: 30px;
}

header .language {
    font-weight: 600;
}

.mainBanner {
    height: 735px;
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-position: center center;
}

.mainBanner .container {
    height: 100%;
    position: relative;
}

.mainBanner .contentBlock {
    position: absolute;
    bottom: 65px;
    max-width: 670px;
}

.mainBanner .contentBlock p {
    font-size: 50px;
    color: #fff;
    line-height: 61px;
    display: block;
    margin-bottom: 30px;
}

button {
    font-family: 'Tajawal', sans-serif;
    font-weight: 400;
    border-radius: 7px;
    font-size: 18px;
    background-color: #0493c3;
    border: 1px solid #0493c3;
    color: #fff;
    padding: 16px 20px 12px 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #0493c3;
}

.mainSlider {
    background-color: #24292F;
    padding-top: 335px;
    position: relative;
}

.mainSlider:before {
    content: '';
    height: 655px;
    width: 664px;
    position: absolute;
    left: 50%;
    bottom: 130px;
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-image: url(../images/biglogo.png);
}

.mainSlider .sliderParent {
    padding-right: 18px;
    width: calc(100% - 500px);
    position: static;
}

.mainSlider .container {
    position: relative;
}

.mainSlider .flex {
    align-items: center;
}

.mainSlider h2 {
    padding-left: 70px;
    font-size: 36px;
}

.mainSlider h2 span {
    color: #0493c3;
}

.mainSlider span {
    display: block;
    color: #fff;
}

.mainSlider .totalPrice span {
    display: inline-block;
}

.mainSlider .year {
    font-size: 31px;
    font-weight: normal;
    background-color: #0493c3;
    padding: 1px 20px 7px;
    display: inline-block;
    line-height: 31px;
    margin-bottom: 13px;
}

.mainSlider .name {
    margin-bottom: 10px;
}

.mainSlider .name,
.mainSlider .totalPrice {
    font-size: 25px;
}

.mainSlider .type {
    font-size: 20px;
    margin-bottom: 50px;
}

.mainSlider .totalPrice {
    margin-bottom: 60px;
}

.mainSlider img {
    max-width: 370px;
    width: auto;
}

.mainSlider .listingInfos {
    padding-top: 100px;
}

.mainSlider .owl-carousel .owl-item img {
    width: auto;
}

.mainSlider .owl-nav {
    position: absolute;
    bottom: 90px;
    left: 220px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    display: inline-block;
    height: 31px;
    width: 15px;
    background: url(../images/arrow.svg) no-repeat center;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
    display: none;
}

.owl-carousel .owl-nav button.owl-prev {
    transform: rotate(180deg);
    margin-right: 40px;
}

.logoSlider {
    position: relative;
    padding-top: 160px;
    background-color: #24292F;
}

.logoSlider:before {
    content: '';
    height: 600px;
    width: 460px;
    background-image: url(../images/wineglass.png);
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: bottom right;
}

.logoSlider img {
    max-width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logoSlider h2 {
    margin-bottom: 90px;
}

.logoSlider .listingItem {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    border: 1px solid #707070;
}

.logoSlider .owl-nav {
    position: absolute;
    top: -65px;
    width: 100%;
    text-align: center;
}

.imagesListing {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
    padding-top: 170px;
}

.imagesListing .leftBlock {
    width: 45%;
}

.imagesListing .rightBlock {
    width: 50%;
    margin-left: auto;
}

.imagesListing .listingItem {
    position: relative;
    margin-bottom: 60px;
}

.imagesListing .listingItem .blockTitle {
    font-family: 'Exodus Demo Sa';
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    left: 0;
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.imagesListing .listingItem .blockTitle span {
    color: #fff;
    padding: 0 15px;
}

.imagesListing .dark {
    background-color: #24292F;
}

.imagesListing .light {
    background-color: #B69976;
}

.imagesListing .rightBlock .listingItem:first-of-type {
    max-width: 50%;
}

.imagesListing .rightBlock .listingItem:first-of-type .blockTitle {
    background-color: #fff;
    width: auto;
    text-align: left;
    transform: none;
    bottom: 0;
    top: auto;
    padding: 15px;
    left: auto;
    right: -230px;
}

.imagesListing .rightBlock .listingItem:first-of-type .blockTitle span {
    color: #24292F;
    padding: 0;
    background-color: transparent;
}

.showMob {
    display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

body:not(.homepage) header {
    padding-top: 17px;
    position: static;
}

body:not(.homepage) header .language {
    color: #fff;
}

body:not(.homepage) header .a {
    fill: #fff;
}

body:not(.homepage) header .menuToggle .a {
    stroke: #fff;
}

body:not(.homepage) header .logo {
    background-image: url(../images/whiteLogo.png);
}

body:not(.homepage) header .container {
    padding-bottom: 17px;
}

.pageTitle {
    color: #24292F;
    font-size: 39px;
    text-align: left;
    display: block;
    margin: 0px 0 15px;
}

aside {
    width: 320px;
    float: left;
}

.filterBlock {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
    padding: 30px;
}

.dk-select {
    width: 100%;
    color: #24292F;
    margin-bottom: 30px;
}

.dk-select .dk-selected {
    border: none;
    padding: 12px 20px;
    border: 1px solid #DBDBDA;
}

.dk-select .dk-selected:after {
    display: none;
}

.dk-select .dk-selected:before {
    background-image: url(../images/down-arrow.svg);
    height: 6px;
    width: 11px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    margin: 0;
    top: calc(50% - 3px);
    right: 10px;
}

.dk-select.dk-select-open-up .dk-select-options,
.dk-select.dk-select-open-down .dk-select-options,
.dk-select.dk-select-multi:focus .dk-select-options {
    border-color: #DBDBDA;
    border-radius: 0;
}

.dk-select .dk-select-options {
    padding: 0;
}

.dk-select .dk-select-options .dk-option-highlight {
    background: #4D4034;
}

.dk-select .dk-option {
    padding: 5px 20px;
}

.checkboxItem {
    display: block;
    padding-left: 20px;
    position: relative;
    color: #24292F;
    float: left;
    clear: both;
    margin-bottom: 15px;
}

.checkboxItem .checkmark {
    height: 11px;
    width: 11px;
    border: 1px solid #24292F;
    border-radius: 2px;
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
}

.checkboxItem input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.checkboxItem input:checked ~ .checkmark {
    background-image: url(../images/checked.svg);
    background-size: cover;
    border-color: transparent;
}

.checkboxes {
    display: none;
    margin-top: 25px;
}

.checkboxes:after {
    clear: both;
    display: table;
    content: '';
}

.filterOption {
    margin-bottom: 30px;
    color: #24292F;
}

.filterOption .submenuToggle {
    font-size: 29px;
    font-weight: 500;
    color: #24292F;
}

.filterOption h4 {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    cursor: pointer;
}

.filterOption h4.active .plus {
    display: none;
}

.filterOption h4.active .minus {
    display: block;
}

.filterOption .submenuToggle {
    font-size: 29px;
    font-weight: 500;
    color: #24292F;
    position: absolute;
    right: 0;
    top: 0;
}

.filterOption .plus {
    margin-top: 2px;
    display: block;
    line-height: 11px;
}

.filterOption .minus {
    line-height: 11px;
    display: none;
}

aside + main {
    width: calc(100% - 245px);
    float: left;
    margin-left: 25px;
    position: relative;
    padding-top: 180px;
}

aside + main .fixedHeader {
    position: absolute;
    top: 0;
    left: 0;
}

.productListing {
    text-align: center;
}

.productListing .listingInfos {
    text-align: left;
    padding: 10px;
}

.productListing img {
    margin: 0 auto;
    margin-bottom: 5px;
    max-height: 240px;
}

.productListing .domain {
    text-transform: uppercase;
    color: #141111;
    font-weight: normal;
    margin-bottom: 15px;
}

.productListing .name {
    color: #141111;
    font-size: 16px;
}

.productListing .totalPrice {
    font-size: 25px;
    color: #0493c3;
}

.productListing .favorite {
    display: block;
    width: 23px;
    height: 23px;
    background-image: url(../images/like.svg);
    position: absolute;
    top: 0;
    left: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.productListing .listingItem {
    position: relative;
    float: none;
    padding: 0 3px;
    width: auto;
    flex-basis: calc(100%/6);
    margin-bottom: 3px;
}

.productListing .itemParent {
    background-color: #fff;
    position: relative;
}

.productListing .addToCart {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.productListing .minus {
    background-color: #0493c3;
    height: 22px;
    width: 22px;
    display: block;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;
}

.productListing .counter {
    background-color: #21bb2b;
    height: 22px;
    min-width: 22px;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    display: block;
    position: absolute;
    right: 7px;
    top: 7px;
    border-radius: 5px;
}

.signupForm {
    display: none;
    z-index: 7;
    box-sizing: border-box;
    max-height: calc(100% - 60px);
    overflow: auto;
    border: 1px solid #707070;
    width: 715px;
    background-color: #fff;
    padding: 45px 50px;
    position: fixed;
    top: 30px;
    left: calc(50% - 363px);
}

.signupForm * {
    box-sizing: border-box;
}

.signupForm .inputField {
    width: 50%;
    float: left;
    padding: 0 27px;
    display: block;
}

.signupForm .inputField:last-of-type {
    margin-bottom: 0;
}

.signupForm .inputField:nth-of-type(3),
.signupForm .inputField:nth-of-type(5) {
    clear: both;
}

.signupForm .inputField.OTP {
    padding-top: 10px;
    width: 100%;
    margin-bottom: 45px;
}

.signupForm .inputField.OTP input {
    width: 35px;
    border: none;
    border-bottom: 1px solid #707070;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    font-size: 28px;
    height: 28px;
    padding-top: 0;
    display: inline-block;
}

.signupForm .inputField.terms {
    width: 100%;
}

.signupForm .inputField.terms .checkboxItem {
    line-height: 23px;
    padding-left: 25px;
}

.signupForm .inputField.terms .checkboxItem input {
    height: 23px;
}

.signupForm .inputField.terms a {
    text-decoration: underline;
    color: #24292F;
}

.signupForm .inputField.terms a:hover {
    text-decoration: none;
}

.signupForm .inputField.terms .checkmark {
    top: 4px;
    height: 15px;
    width: 15px;
}

.signupForm .inputField.terms input:checked ~ .checkmark {
    background-image: url(../images/checked-dark.svg);
}

.signupForm .verify {
    position: absolute;
    right: 40px;
    bottom: 18px;
    text-decoration: underline;
    color: #24292F;
}

.signupForm .verify:hover {
    text-decoration: none;
}

.signupForm .formBody {
    margin: 0 -27px;
}

.signupForm h2 {
    color: #24292F;
    text-align: left;
    margin-bottom: 40px;
    font-size: 29px;
}

.signupForm .closeIcon {
    top: 35px;
    right: 20px;
    position: absolute;
}

.signupForm .closeIcon svg {
    height: 18px;
    width: 18px;
}

.signupForm .closeIcon svg path {
    fill: #0493c3;
}

.signupForm .closeIcon svg {
    height: 18px;
    width: 18px;
}

.signupForm .closeIcon svg path {
    fill: #0493c3;
}

.signupForm .dk-selected:not([aria-activedescendant]) {
    font-size: 0;
}

.signupForm .dk-select .dk-selected {
    height: 50px;
    padding: 13px 20px;
}

.signupForm .inputField {
    margin-bottom: 30px;
}

.signupForm .dk-select {
    margin-bottom: 0;
}

.signupForm .date input[type="text"] {
    width: 33.3333%;
    float: left;
    border-right: 0;
    text-align: center;
}

.signupForm .date input[type="text"]:last-of-type {
    border-right: 1px solid #DBDBDA;
}

.signupForm .phoneNumber {
    position: relative;
}

.signupForm .phoneNumber .dk-select {
    position: absolute;
    width: 70px;
    height: calc(100% - 25px);
    top: 26px;
}

.signupForm .timer {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.signupForm .timer img {
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 6px;
}

.inputField label {
    display: block;
    font-size: 14px;
    color: #24292F;
    margin-bottom: 10px;
}

.inputField input {
    border: 1px solid #DBDBDA;
    width: 100%;
    padding: 16px;
}

.iti {
    display: block;
}

.iti__country-list {
    max-width: 280px;
}

.iti__selected-flag {
    border-right: 1px solid #DBDBDA;
}

.main {
    position: relative;
    overflow: hidden;
}

.cart {
    right: -490px;
    max-height: 100%;
    overflow: auto;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    width: 490px;
    max-width: 100%;
    top: 0;
    z-index: 10;
    background: #2d363c;
    display: block;
    padding: 30px;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 200;
}

.cart.visibleCart {
    right: 0;
    visibility: visible;
}

.cart h2 {
    color: #fff;
    font-size: 26px;
    text-align: left;
    margin-bottom: 25px;
    font-weight: normal;
}

.cart h2 span {
    display: inline-block;
    padding: 0 5px;
}

.cart .closeIcon {
    position: absolute;
    top: 40px;
    right: 31px;
}

.cart .closeIcon svg {
    width: 18px;
    height: 18px;
}

.cart .closeIcon svg path {
    fill: #0493c3;
}

.cart .total {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cart .total > span {
    font-size: 26px;
    color: #ffffff;
    font-weight: 400;
}

.cart .total .totalPrice {
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin-left: auto;
}

.cart button {
    width: 100%;
    margin-bottom: 30px;
}

.cart .listingHolder {
    background-color: #fff;
}

.cart .listingHolder img {
    border-radius: 6px;
    display: block;
}

.cart .listingItem {
    position: relative;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #454a4f;
    background-color: #2d363c;
}

.cart .listingItem:last-of-type {
    border-bottom: 1px solid #454a4f;
}

.cart .type {
    font-size: 21px;
    color: #141111;
    display: block;
    margin-bottom: 5px;
    color: #141111;
}

.cart .name {
    font-size: 15px;
    display: block;
    margin-bottom: 1px;
    color: #ffffff;
    font-weight: 100;
}

.cart .unitPrice {
    font-size: 18px;
    font-family: 'Exodus Demo Sa';
    margin-bottom: 20px;
    color: #141111;
}


.cart .plus,
.cart .minus {
    color: #141413;
    font-size: 36px;
    line-height: 10px;
    width: 15px;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
}

.cart .qtty {
    box-sizing: border-box;
    border: 1px solid #0493c3;
    padding: 16px 24px;
    display: block;
    width: 160px;
    align-items: center;
    margin-bottom: 20px;
}

.cart .qtty .minus {
    margin-right: 8px;
    margin-top: -7px;
}

.cart .qtty .plus {
    margin-left: 12px;
}

.cart .qtty input {
    border: none;
    font-size: 21px;
    text-align: center;
    min-width: 0;
    margin-top: -5px;
    width: 50px;
    color: #141413;
    display: inline-block;
    vertical-align: middle;
}

.cart .totalPrice {
    color: #0493c3;
    font-size: 18px;
    font-family: 'Exodus Demo Sa';
}

.cart .deleteItem {
    width: 15px;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
}

.cart .calculatedprice {
    background-color: #454f55;
    color: #c6c3c3;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.cart .minibuttons {
    background-color: #454f55;
    margin-right: 25px;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
.cart .minibuttons:last-child{
    margin-right: 0;
}

@media all and (min-width: 767px) {
    .subCat,
    .filterOptions {
        display: block !important;
    }
}

.categories {
    box-sizing: border-box;
}

.categories:not(.subCat) {
    max-height: calc(100vh - 215px);
    overflow-x: hidden;
    overflow-y: auto;
}

.categories .holder {
    margin: 0 -3px;
    box-sizing: border-box;
}

.categories .item {
    width: 50%;
    float: left;
    padding: 0 3px;
    margin-bottom: 8px;
    box-sizing: border-box;
    color: #100f0f;
}
.categories .item.selected .catTitle, .categories .item:hover .catTitle{
    background-color: #0493c3;
    color: #fff;
}

.categories .item img {
    width: 100%;
}

.categories span {
    font-size: 15px;
    background-color: #fff;
    text-align: center;
    display: block;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 6px 5px;
    font-weight: bold;
    color: #544444;
}

.categories.subCat .item {
    /* max-width: 19%; 
    box-sizing: unset;*/
    padding: 0;
    text-align: center;
    display: inline-block;
    float: none;
    width: auto;
    margin-right: 5px;
}

.categories.subCat .holder {
    margin: 0 -5px;
}

.productListing {
    clear: both;
}

.searchParent {
    margin-bottom: 25px;
    background-color: #04a2d6;
}

.searchParent .container {
    padding-bottom: 0 !important;
    position: relative;
}

.searchParent input {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 12px 0 10px 0;
    font-weight: bold;
}

.searchParent input::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
}

.searchParent input::-moz-placeholder {
    color: #fff;
    font-size: 14px;
}

.searchParent input:-ms-input-placeholder {
    color: #fff;
    font-size: 14px;
}

.searchParent input:-moz-placeholder {
    color: #fff;
    font-size: 14px;
}

.searchParent .search {
    position: absolute;
    right: 0;
    top: 9px;
}

main {
    padding-top: 260px;
    padding-left: 350px;
    clear: both;
    padding-right: 15px;
    padding-bottom: 60px;
}

.fixedBody {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #eeeeee;
    height: 240px;
}

aside {
    padding-left: 5px;
}

.titleCat {
    float: left;
    padding-left: 25px;
}

.discounted {
    color: #141111;
    font-size: 16px;
    font-weight: bold;
}

.main {
    font-size: 16px;
    color: #141111;
    font-weight: bold;
}

.size {
    color: #686868;
    font-size: 12px;
}

.cart_buttons_holder{
    border-bottom: 1px solid #454a4f;
    padding-bottom: 10px;
}
.cart_buttons_holder:after{
    clear:both;
    content: '';
    display: block;
}
.left_float{
    float: left;
}
.right_float{
    float: right;
}
.cart_list .listingItem{
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 30px;
}
.total_price{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.cart_list .listingItem .listing_image{
    flex-basis: 80px;
    position: relative;
}
.cart_list .listing_actions{
    width: 30px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.cart_list .listing_info_main{
    flex-grow: 1;
    padding-left: 10px;
}
.listing_actions a{
    display: block;
    position: absolute;
    background-color: #474c51;
    padding: 0;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    width: 100%;
    border-radius: 3px;
}
.listing_actions a:first-child{
    top: 10px;
}
.listing_actions a:last-child{
    bottom: 10px;
}
.quantity_holder{
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: #0493c3;
    width: 26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.productListing .row{
    margin-left: -12px;
    margin-right: -12px;
    min-width: 100%;
}
.no_subcats main{
    padding-top: 140px;
}
.no_subcats .fixedBody{
    height: 140px;
}


.productListing .item_image_main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_form{
    position: absolute;
    height: 100vh;
    transform: translate3d(0, -100vh, 0);
    transition: transform linear 400ms;
    top: 0;
    left: 0;
    padding: 30px;
    background-color: #2d363c;
    width: 100%;
}
.cart_list{
    transition: all linear 400ms;
}
.signup_form.visible_signup{
    transform: translate3d(0, 0, 0);
}
.cart_list.visible_signup{
    opacity:0;
    visibility: hidden;
}
.signup_form .inputField label{
    color: #fff;
}
.signup_form .inputField{
    margin-bottom: 15px;
}
.bottom_buttons{
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
    background-color: #000;
    padding: 10px;
    z-index: 3;
}
.bottom_buttons a{
    background-color: #21bb2b;
    display: block;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0 10px 0;
    text-align: center;
    position: relative;
}
.total_cart_bottom{
    position: absolute;
    right: 20px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 18px;
}
.search_input{
    width: 100%;
}
.all_categories_btn{
position: fixed;
left: 7px;
bottom: 10px;
border-radius: 2px;
background-color:
#21bb2b;
color:
#fff;
font-size: 15px;
display: block;
z-index: 101;
padding: 10px 15px 6px 15px;
font-weight: bold;
text-align: center;
}

.all_categories_btn.right{
    left: auto;
    right: 7px;
}


.lds-roller{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%);
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #0493c3;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .productListing, .productListing .row, .categories .holder{
    display: flex;
    flex-flow: row wrap;
  }
  .productListing .itemParent{
    height: 100%;
    padding: 5px;
  }
  .inner_category{
      height: 100%;
      border-radius: 0 0 6px 6px;
      background-color: #fff;
  }
  .catgories_main_holder{
      position: relative;
  }
  .catgories_main_holder .lds-roller, .signup_form .lds-roller{
      position: absolute;
      transform: scale(0.5) translate3d(-100%, -100%, 0);
      top: 50%;
      left: 50%;
  }
  .order_message{
      color: #fff;
  }